* text=auto

*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf

*.xlsx binary
*.xlsm binary
*.pdf binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary